.landing-page {
  &__attractions {
    display: grid;
    gap: $grid;
    grid-template-columns: 1fr;

    @include media-query(md){
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--introduction-card {
      grid-column: 2;
    }
  }

  &__map-section {
    background-color: $color-grey;
    min-height: 100vh;
  }

  &__map-description {
    text-align: center;
    
    margin-top: 0;
    margin-bottom: 0;
    @include font-size(l);
    color: $color-white;
    padding: 2 * $grid 1 * $grid;

    @include media-query(md){
      padding: 2 * $grid;
    }
  }

  &__interactive-map {
    display: flex;
  }

  &__temp-map {
    margin-right: auto;
    margin-left: auto;
  }
}