.landing-page-hero {
  &__map {
    z-index: -1; 
    position: absolute; 
    width: 100%;
    height: 100%; 
    margin: 0; 
    padding: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));

    @include media-query(sm){
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
    }

    @include media-query(md){
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7));
    }
  }
  
  &__menu {
    display: none;

    @include media-query(sm) {
      display: inline;
      margin-bottom: auto;
      padding-top: 2 * $grid;

      > a {
        @include font-size(l);
        font-family: $font-primary;
        margin-right: $grid;

        @include link-tab-border($color-white, 0px 4px 4px 4px);

        color: $color-white;
        &:hover {
          color: $color-light-grey;
        }
        &:visited {
          color: $color-white;
        }

        @include media-query(md){
          margin-right: 2 * $grid;
        }

        &:last-child{
          margin-right: 2 * $grid;
        }
      }
    }

    @include media-query(md) {
      padding-right: $grid;
    }
  }

  &__menu-dropdown {
    margin-right: $grid;
    margin-bottom: $grid;
    
    @include media-query(sm){
      display: none;
    }
  }

  &__explore {
    font-size: 24.5vw;
    color: $color-white;
    margin: 0;
    margin-right: $grid;
    line-height: 0.9;

    @include media-query(sm) {
      font-size: #{"min(19vw, 135px)"}; //See https://github.com/sass/node-sass/issues/2815
      margin-right: 2 * $grid;
    }

    @include media-query(md) {
      font-size: #{"min(16vw, 140px)"};
      margin-right: 3 * $grid;
    }
  }

  &__bristol {
    font-size: 32.5vw;
    color: $color-white;
    margin: 0;
    line-height: 0.9;
    margin-right: $grid;
    margin-bottom: $grid;

    @include media-query(sm) {
      font-size: #{"min(26vw, 180px)"};
      margin-right: 2 * $grid;
      margin-bottom: 2 * $grid;
    }

    @include media-query(md) {
      font-size: #{"min(21vw, 200px)"};
      margin-right: 3 * $grid;
      margin-bottom: 2 * $grid;
    }
  }

  &__journey-button {
    margin-bottom: 2 * $grid;
    margin-right: $grid;
    @include font-size(l);

    @include media-query(sm){
      margin-right: 2 * $grid;
      margin-bottom: 2 * $grid;
      @include font-size(xl);
    }

    @include media-query(md){
      margin-bottom: 3 * $grid;
      margin-right: 3 * $grid;
    }
  }
}