.landing-page {
  &__attractions {
    display: grid;
    gap: $grid;
    grid-template-columns: 1fr;

    @include media-query(md){
      grid-template-columns: 1fr 1fr 1fr;
    }
    

    &--introduction-card {
      grid-column: 2;
    }

  }

  &__map {
    background-color: $color-grey;
  }

  &__map-description {
    text-align: center;
    padding: 2 * $grid;
    margin-top: 0;
    @include font-size(l);
    color: $color-white;
  }

  &__interactive-map {
    display: flex;

  }

  &__temp-map {
    margin-right: auto;
    margin-left: auto;
  }
}