body {
  margin: 0;
  background: $color-white;
}

p, li {
  font-family: $font-primary;
  @include font-size(m);
}

h1, h2, h3, h4, h5 {
  font-family: $font-secondary;
  font-weight: 500; //Using semi-bold.
}

a {
  color: $color-grey;
  &:hover {
    color: $color-primary;
  }
  &:visited {
    color: $color-dark-green;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

::-moz-selection {
  color: $color-black;
  background: $color-secondary;
}

::selection {
  color: $color-black;
  background: $color-secondary;
}

.link-white {
  color: $color-white;
  &:hover {
    color: $color-white;
  }
  &:visited {
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }
}

.link-black {
  color: $color-black;
  &:hover {
    color: $color-black;
  }
  &:visited {
    color: $color-black;
    &:hover {
      color: $color-black;
    }
  }
}


.link-no-underline {
  text-decoration: none;
}

//Iconography
.fontello-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.text-primary {
  color: $color-primary;
}
.text-primary-dark {
  color: $color-primary-dark;
}
.text-secondary {
  color: $color-secondary;
}
.text-grey {
  color: $color-grey;
}
.text-danger {
  color: $color-yellow;
}
.text-warning {
  color: $color-red;
}
.text-info {
  color: $color-blue;
}
.text-success {
  color: $color-green;
}
.text-black {
  color: $color-black;
}
.text-white {
  color: $color-white;
}

.background-primary {
  background-color: $color-primary;
}
.background-primary-dark {
  background-color: $color-primary-dark;
}
.background-secondary {
  background-color: $color-secondary;
}
.background-grey {
  background-color: $color-grey;
}
.background-danger {
  background-color: $color-red;
}
.background-success {
  background-color: $color-green;
}
.background-warning {
  background-color: $color-yellow;
}
.background-info {
  background-color: $color-blue;
}
.background-black {
  background-color: $color-black;
}
