<!-- Social icons from https://www.iconfinder.com/iconsets/social-media-rounded-corners -->

<a class="social-icons social-icons--responsive" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ shareURL }}"><img src="/images/social/facebook.svg"/></a>
<a class="social-icons social-icons--responsive" target="_blank" href="http://www.twitter.com/share?url={{ shareURL }}"><img src="/images/social/twitter.svg"/></a>
<a class="social-icons social-icons--responsive" target="_blank" href="whatsapp://send?text={{ shareURL }}" data-action="share/whatsapp/share"><img src="/images/social/whatsapp.svg"/></a>
<a class="social-icons social-icons--responsive" target="_blank" href="fb-messenger://share/?link={{ shareURL }}"><img src="/images/social/messenger.svg"/></a>
<a class="social-icons social-icons--responsive" target="_blank" href="http://www.tumblr.com/share/link?url={{ shareURL }}"><img src="/images/social/tumblr.svg"/></a>
<a class="social-icons social-icons--responsive" target="_blank" href="http://www.reddit.com/submit?url={{ shareURL }}"><img src="/images/social/reddit.svg"/></a>
