<!-- Social icons from https://www.iconfinder.com/iconsets/social-media-rounded-corners -->

<a class="social-icons social-icons--responsive" href="www.facebook.com"><img src="/images/social/facebook.svg"/></a>
<a class="social-icons social-icons--responsive" href="www.twitter.com"><img src="/images/social/twitter.svg"/></a>
<a class="social-icons social-icons--responsive" href="www.whatsapp.com"><img src="/images/social/whatsapp.svg"/></a>
<a class="social-icons social-icons--responsive" href="www.facebook.com/messenger"><img src="/images/social/messenger.svg"/></a>
<a class="social-icons social-icons--responsive" href="www.tumblr.com"><img src="/images/social/tumblr.svg"/></a>
<a class="social-icons social-icons--responsive" href="www.reddit.com"><img src="/images/social/reddit.svg"/></a>