<div class="dropdown">
  <a tabindex="0" role="button" class="button button--large button--inverse-primary button--down-arrow dropdown__button" id="dropdown-menu-button">Website Menu <i class="fontello-icon">&#xe800;</i></a>

  <div class="dropdown__items" id="dropdown-menu-items">
    <a class="dropdown__link" href="/food-and-drink">Food and Drink</a>
    <a class="dropdown__link" href="/culture-and-heritage">Culture and Heritage</a>
    <a class="dropdown__link" href="/events-and-spaces">Events and Spaces</a>
  </div>
</div>