.style-guide {
  padding: $grid;
  display: grid;
  gap: $grid;

  @include media-query(sm){
    grid-template-columns: min-content auto;
    padding-right: 2 * $grid;
  }

  hr {
    height: 0px;
    border-width: 2px;
    border-color: $color-grey;
    border-radius: 2px;
    margin-top: $grid;
    margin-bottom: $grid;
  }

  &__menu {
    @include font-size(m);
    margin-bottom: -$grid;

    &::before{
      font-family: $font-primary;
      content: "Jump to section:";
    }

    @include media-query(sm){
      padding: $grid;
      margin-bottom: 0px;

      &::before {
        content: "";
      }
    }
  }

  &__menu-sticky {
    position: sticky;
  }

  &__code-block {
    width: 100%;
    margin-top: $grid;
    border-radius: 8px;
    border-width: 1px;
  }

  &__colour-scheme-palette {
    display: grid;
    grid-template-columns: 1fr;
    gap: $grid;

    @include media-query(sm){
      grid-template-columns: 1fr 1fr;
    }

    @include media-query(md){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    > div {
      height: 150px;
      border-radius: 8px;
      text-align: end;
      > p {
        padding: $grid;
        margin-top: 0px;
      }
    }
  }

}