body {
  margin: 0;
  background: $color--white;
}

p, a, li, h1, h2, h3, h4, h5 {
  font-family: $font-primary;
}

a {
  color: $color--violet;
}

.bold {
  font-weight: bold;
}

::-moz-selection {
  color: $color--eerie-black;
  background: $color--puce;
}

::selection {
  color: $color--eerie-black;
  background: $color--puce;
}