<div class="landing-hero">
  <div class="landing-hero__title"> 
    <h1>Explore Bristol</h1>
  </div>

  <div class="landing-hero__menu">
    <a href="/food-and-drink">Food and Drink</a>
    <p class="landing-hero__menu-subtitle">Restaurants, Cafes, Pubs</p>
    <a href="/heritage-and-culture">Heritage and Culture</a>
    <p class="landing-hero__menu-subtitle">Muesuems, Galleries, Historical Buildings</p>
    <a href="/events-and-spaces">Events and Spaces</a>
  </div>

  <div class="landing-hero__menu-dropdown">
    {% include "includes/components/dropdown.html" %}
  </div>

  <div class="landing-hero__map">
    {% include "includes/components/bristol-map.html" %}
  </div>

  <div class="landing-hero__tagline">
    <p>Click on a map region to discover Bristol.</p>
  </div>
</div>