<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http-www.w3.org/1999/xlink" lang="en-GB" xml:lang="en-GB">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    
    <!-- Favicon Generator Output # https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/favicon/site.webmanifest"/>
    <meta name="msapplication-TileColor" content="#00a300"/>
    <meta name="theme-color" content="#ffffff"/>

    {% if INCLUDE_MAP %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>

  <body>
    {% block body %}
    {% endblock %}

    {% if INCLUDE_MAP %}
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    {% endif %}
    <script type="text/javascript" src="/javascript/scripts.min.js"></script>
    
  </body>
</html>