{% extends "_page.html" %}

{% block content %}

<p class="attraction__location">North: <span id="attraction__latitude">{{ data.coordinates[0].north }}</span> and West: <span id="attraction__longitude">{{ data.coordinates[0].west }}</span></p> 

<div class="attraction">

  <div class="attraction__header">
    {% set backgroundImageUrl = ['http://localhost:1337', data.image[0].url] %}

    <div class="card--image text-white style-guide__heading-card" style="background-image: url('{{ backgroundImageUrl | join }}');">
      <div class="card--heading__cover">
        <h1 class="card__title--heading">{{ data.name }}</h1>
        <h3 class="card__text--heading">{{ data.tagline }}</h3>
      </div>
    </div>
  </div>

  <div class="attraction__wrapper">
    <div class="attraction__left-margin"></div>
    <div class="attraction__column">
      <div class="attraction__content">
        <div class="attraction__description">
          {{ description | safe }}
        </div>
        <div class="attraction__map map" id="map-container"></div>
      </div>

      <div class="attraction__sidebar">
        <div class="attraction__opening-hours opening-hours card">
          <h3 class="opening-hours__title">Opening Hours</h3>
          {% for opening_time in data.opening_times %}
            <p class="opening-hours__days">{{ opening_time.day_interval }}</p>
            <p class="opening-hours__times">{{ opening_time.opening_hours }} {% if opening_time.closing_hours %}- {{ opening_time.closing_hours }}{% endif %}</p>
          {% endfor %}
        </div>
        
        <div class="attraction__tags">
          <div class="category-tags card">
            <h3 class="category-tags__title">Category Tags</h3>
            {% for subcategory in data.subcategories %}
              <a class="category-tags__tag button button--tag button--primary" href="/subcategories/{{ subcategory.id }}">{{ subcategory.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="attraction__right-margin"></div>
  </div>

</div>

{% endblock %}