{% extends "_page.html" %}

{% block content %}

<div class="style-guide">

  <div class="style-guide__menu">
    <div class="style-guide__menu-sticky">
    <p><a href="#introduction">Introduction</a></p>
    <p><a href="#colour-scheme">Colours</a></p>
    <p><a href="#typography">Typography</a></p>
    <p><a href="#buttons">Buttons</a></p>
    <p><a href="#elements">Includes</a></p>
    </div>
  </div>

  <div class="style-guide__contents">

    <div id="introduction">
      <h1>Explore Bristol Style Guide</h1>
      <p>This style guide, or pattern library, contains all the elements that are used to build up this site.</p>
    </div>

    <hr/>

    <div id="colour-scheme">
      <h1>Colour Scheme </h1>

      <p>The palette can be seen here on <a href="https://coolors.co/5bc0eb-fde74c-9bc53d-4e6c1f-c3423f-fbfbfb-404e4d-060b0a">coolors.co</a>.</p>

      <div class="style-guide__colour-scheme-palette">
        <div class="background-primary"><p>Primary</p></div>
        <div class="background-primary-dark"><p>Primary Dark</p></div>
        <div class="background-secondary"><p>Secondary</p></div>
        <div class="background-danger"><p>Danger</p></div>
        <div class="background-warning"><p>Warning</p></div>
        <div class="background-success"><p>Success</p></div>
        <div class="background-info"><p>Info</p></div>
        <div class="background-grey"><p class="text-white">Grey</p></div>
        <div class="background-black"><p class="text-white">Black</p></div>
      </div>

    </div>

    <hr/>

    <div id="typography">
      <h1>Typography</h1>

      <p>This project uses <a href="https://fonts.google.com/specimen/Crimson+Pro">Crimson Pro</a> and <a href="https://fonts.google.com/specimen/Assistant">Assistant</a> for its primary and secondary fonts respectively.</p>

      <h1>H1 Heading</h1>
      <h2>H2 Heading</h2>
      <h3>H3 Heading</h3>
      <h4>H4 Heading</h4>
      <h5>H5 Heading</h5>

      <p>Paragraph of text.</p>
      <p class="italic">Italic text. (class="italic")</p>
      <p class="bold">Bold text. (class="bold")</p>
      <p class="underline">Underlined text. (class="underline")</p>
      <p><span class="text-grey">text-grey</span></p>
    </div>

    <hr/>

    <div id="buttons">
      <h1>Buttons and Links</h1>

      <p><a href="#">This is a hyperlink.</a></p>

      <p>
      <a class="button button--tag button--primary" href="#">tag button--primary</a>
      <a class="button button--tag button--inverse-primary" href="#">tag button--inverse-primary</a>
      <a class="button button--large button--primary" href="#">large button--primary</a>
      <a class="button button--large button--inverse-primary" href="#">large button--inverse-primary</a>
      </p>

      {% include "includes/components/menu-dropdown.html" %}
    </div>

    <hr/>

    <div id="icons">
      <h1>Icons</h1>

      <p>These icons come from <a href="http://fontello.com/">fontello.com</a>, selected from the FontAwesome family.</p>

      <p>Arrow Down Icon <i class="fontello-icon">&#xe800;</i></p>
      <p>Arrow Right Icon <i class="fontello-icon">&#xe801;</i></p>

      <h3> Footer Social Icons </h3>

      <div class="style-guide__icon-container">
        {% include "includes/components/footer-social-icons.html" %}
      </div>
    </div>

    <hr/>

    <div id="elements">

      <h1>Pattern Elements</h1>

      <h2>Cards</h2>

      <div class="style-guide__card-container">
        <div class="card">
          <h3 class="card__title">Card Element</h3>
          <p class="card__text">This is a basic card element.</p>
        </div>

        <div class="card background-black text-white">
          <h3 class="card__title">Card Element</h3>
          <p class="card__text">This is a basic card element with colour scheme styling.</p>
        </div>

        <div class="card card--image text-white" style="background-image: url('/images/demo-placeholder.jpg');">
          <div class="card--image__cover">
            <h3 class="card__title">Card Image Element</h3>
            <p class="card__text">This is a basic card with a background image.</p>
          </div>
        </div>

        <div class="card card--image text-white" style="background-image: url('/images/demo-placeholder.jpg');">
          <a class="link-white link-no-underline" href="#">
            <div class="card--image__cover card--image__link-cover">
              <h3 class="card__title card__title--link">Card Category Element</h3>
              <p class="card__text">This is a basic card with a background image.</p>
            </div>
          </a>
        </div>

        <div class="card--attraction">
          <a class="link-black link-no-underline" href="#">
            <div class="card--attraction__image" style="background-image: url('/images/demo-placeholder.jpg');">
            </div>
            <div class="card--attraction__content">
              <h3 class="card__title card__title--link">Card Attraction Element</h3>
              <p class="card__text">This is a basic card with a seperate image above it.</p>
            </div>
          </a>
        </div>

        <div class="card card--image text-white style-guide__heading-card" style="background-image: url('/images/demo-placeholder.jpg');">
          <div class="card--heading__cover">
            <h1 class="card__title--heading">Card Heading Element</h1>
            <h3 class="card__text--heading">This is a heading card with a background image.</h3>
          </div>
        </div>

      </div>

      <h2>Maps</h2>

      <p>North: <span id="attraction__latitude">51.444174</span> and West: <span id="attraction__longitude">-2.637378</span></p>
      
      <div class="map" id="map-container"></div>

      <h2>Opening Hours</h2>

      <div class="style-guide__opening-hours-container">
        <div class="opening-hours card">
          <h3 class="opening-hours__title">Opening Hours</h3>
          <p class="opening-hours__days">Wednesday - Saturday</p>
          <p class="opening-hours__times">10am - 6pm</p>
          <p class="opening-hours__days">Sunday - Monday</p>
          <p class="opening-hours__times">11:30am - 5:30pm</p>
          <p class="opening-hours__days">Tuesday</p>
          <p class="opening-hours__times">Closed</p>
        </div>

        <div class="opening-hours card">
          <h3 class="opening-hours__title">Opening Hours</h3>
          <p class="opening-hours__days">Monday - Sunday</p>
          <p class="opening-hours__times">10am - 6pm</p>
        </div>
      </div>

      <h2>Category Tag Block</h2>

      <div class="category-tags card">
        <h3 class="category-tags__title">Category Tags</h3>
        <a class="category-tags__tag button button--tag button--primary" href="#">Green Spaces</a>
        <a class="category-tags__tag button button--tag button--primary" href="#">Cafes</a>
        <a class="category-tags__tag button button--tag button--primary" href="#">Restaurants</a>
      </div>

    </div>

  </div>
  
</div>


{% endblock %}