.header {

  &_menu {
    @include font-size(m);
    padding: $grid;
    background-color: $color-primary;
    color: $color-white;
  }

  &_logo {
    display: inline;
    margin-left: $grid;
  }

  &_link {
    margin-left: $grid;
    display: inline;
  }

}