.header {

  &_menu {
    @include font-size(m);
    grid-column: 1 / 4;
    padding: $grid;
    background-color: $color--dust;
  }

  &_logo {
    display: inline;
    margin-left: $grid;
  }

  &_link {
    margin-left: $grid;
    display: inline;
  }

}