.button {
  white-space: nowrap;
  border-style: solid;
  border-width: 2px;
  transition: color 0.5s, background-color 0.5s;
  border-radius: $button-border-radius;
  cursor: pointer;

  //Button Sizes
  &--tag {
    padding: 2px 4px 4px 4px;
    line-height: 2.7;
    @include font-size(s);
    font-family: $font-secondary;
    font-weight: bold;
  }

  &--large {
    padding: 0 7px 0 7px;
    line-height: 2;
    font-family: $font-secondary;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-decoration: none;
    font-weight: 500;
  }

  &--right-arrow {
    i {
      font-size: 85%;
      margin-right: -5px;
      padding-bottom: 4px;
    }
  }

  &--down-arrow {
    i {
      font-size: 85%;
      position: relative;
      bottom: 3px;
      margin-right: 0;
    }
  }

  //Button Colours
  &--primary {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;

    &:visited {
      color: $color-white;
    }

    &:hover {
      color: $color-primary;
      background-color: $color-white;
    }

    &:focus {
      border-color: $color-black;
    }
  }

  &--inverse-primary {
    background-color: $color-white;
    color: $color-primary;
    border-color: $color-primary;

    &:visited {
      color: $color-primary;
    }
    
    &:hover{
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-white;
    }

    &:focus {
      border-color: $color-black;
    }
  }
}