.card {
  border-style: solid;
  border-color: $color-light-grey;
  border-width: 1px;
  border-radius: $card-border-radius;
  padding: $grid;
  margin-bottom: auto;
  box-shadow: $card-shadow;

  &:hover { 
    //Note that this hover rule applies to hovering over any part of a card.
    //I've specifically used it here to make the arrow icon move to the left on link cards.
    .card__title--link::after {
      left: 20px;
    }
  }

  /** ELEMENTS
    The card elements are grouped with the standard "__" notation
    __title, __text, __image-link, __link-list, __link-item
    Note that __title and __text have --heading modifiers.
    */

  &__title {
    @include font-size(l);
    margin-top: 0;

    &--link {
      //This indicates that the card is a link to another webpage.
      &::after {
        //This adds and styles an arrow icon after the title text.
        font-family: fontello;
        content: "\e801";
        left: 8px;
        position: relative;
        transition: left 0.4s;
        font-size: 90%;
      }
    }

    &--heading {
      //Increase the size of heading card titles.
      @include font-size(xxxl);
      margin-top: 0;
    }

    &--underline{   
      text-decoration: underline;
    }
  }

  &__text {
    @include font-size(m);
    margin-bottom: $grid / 2;

    &--heading {
      font-family: $font-primary;
      margin-bottom: $grid;

      @include font-size(m);
  
      @include media-query(sm){
        @include font-size(l);
      }
  
      @include media-query(md){
        //For large devices, give the text a right hand margin.
        width: 70%;
      }
    }
  }

  &__image-link {
    //For the image link card, add a noticable state change on keyboard focus.
    &:focus {
      > div {
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: $card-inset-shadow;
        .card__title--link::after {
          left: 20px;
        }
      }
    }
  }

  &__link-list {
    //Reset the list style and break out of the card padding for full width link effect.
    padding-left: 0;
    list-style: none;
    margin-bottom: -$grid;
    margin-left: -$grid;
    margin-right: -$grid;

    > a:hover {
      //The a contains the ul item and has priority for text-decoration styling.
      text-decoration: none;
    }

    > a:focus {
      //We don't set this in link item because that's an <li> element
      //and the tab selector will only focus on the outer <a>
            
      color: $color-white;
      font-weight: bold;

      //However, it's the <li> element that makes up the background
      //so we have to target the child element of the <a> to change it
      > li {
        background-color: $color-primary;
      }
    }
  }

  &__link-item {
    padding: $grid / 2;
    padding-left: $grid;
    border-top: 1px solid $color-light-grey;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      font-weight: bold;
    }
  }

  &__link-explore {
    @include font-size (m);
  }

  /** MODIFIERS
    The default card styling has three main modifications.
    image, heading, attraction
    The .card--attraction class works without the .card class, unlike .image and .heading, which require it.
    How individual cards are put together is seen in the style-guide.html file.
    */

  &--image {
    background-color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

    min-height: 220px;
    @include media-query(md){
      min-height: 250px;
    }

    &__cover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
      transition: background-color 0.3s linear;
      padding: $grid;
      border-radius: $card-border-radius;
  
      min-height: 220px;
      @include media-query(md){
        min-height: 250px;
      }
  
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  
      > h3 {
        margin-bottom: 0;
      }
    }

    &__link-cover {
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    &__explore-button {
      transition: background-color 0.3s linear;
      padding: $grid/2 $grid ;
      border-radius: $card-border-radius;
      margin: -$grid;
      margin-top: $grid;
      
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      text-align: center;
      font-weight: bold;
      @include font-size (l);

      box-shadow: inset 0 0 1px $color-primary-dark;
    }
  }

  &--heading {
    &__cover {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      background-image: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.8));
      padding: $grid $grid $grid $grid;
      min-height: 280px;

      @include media-query(sm){
        min-height: 340px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8));
        padding-left: $grid * 2;
        padding-right: $grid * 2;
      }

      @include media-query(md){
        min-height: 380px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.85));
        padding-bottom: $grid * 2;
        padding-left: $grid * 3;
        padding-right: $grid * 3;
      }

      > h1 {
        margin-bottom: 0;
      }
    }
  }

  &--attraction {
    border-style: solid;
    border-color: $color-light-grey;
    border-width: 1px;
    border-radius: $card-border-radius;

    box-shadow: 0px 5px 20px $color-light-grey;
    margin-bottom: auto;

    &:hover {
      .card__title--link::after {
        left: 20px;
      }
    }

    &__link {
      &:focus {
        .card--attraction__image {
          box-shadow: inset 0px 0px 300px 200px rgba(0,0,0,0.65);
          border-top: 3px solid $color-black;
          border-left: 3px solid $color-black;
          border-right: 3px solid $color-black;
        }
        .card--attraction__content {
          border-bottom: 3px solid $color-black;
          border-left: 3px solid $color-black;
          border-right: 3px solid $color-black;
        }
        .card__title--link::after {
          left: 20px;
        }
      }
    }

    &__image {
      height: 100px;
  
      @include media-query(sm){
        height: 120px;
      }
  
      @include media-query(md){
        height: 150px;
      }
      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-right-radius: $card-border-radius;
      border-top-left-radius: $card-border-radius;
      padding: 0;
    }
    &__content {
      padding: $grid;
    }

  }

  &--adventure {
    &__title {
      @include media-query(md){
        @include font-size(xl);
      }
    }

    &__subtitle {
      @include font-size(l);
      font-style: italic;
    }

    &__links {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include media-query(sm){
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    &__link {
      padding: $grid / 2;
      @include font-size(l);

     
      &:focus {
        outline: 3px solid $color-black;
      }

      &:last-child {
        padding-bottom: 0;
      }

      @include media-query(sm){
        padding: 0;
      }
    }
  }


}