.dropdown {
  position: relative;
  display: inline-block;
  font-family: $font-secondary;

  &__button {
    @include font-size(xl);

    &:focus {
      background-color: $color-primary;
      border-color: $color-white;
      color: $color-white;
    }
  }

  &__items {
    @include font-size(l);

    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: $card-shadow-dark;
    z-index: 1;
    width: 100%;
    top: 46px;
  }

  &__link {
    padding: $grid/2;
    display: block;
    border-bottom: 1.5px solid $color-primary;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-white;
    }

    &:focus {
      background-color: $color-primary;
      color: $color-white;
      font-weight: bold;
    }
  }
}