.dropdown {
  position: relative;
  display: inline-block;
  font-family: $font-primary;

  &__menu-button {
    white-space: nowrap;

    &:focus {
      background-color: $color-primary;
      border-color: $color-white;
      color: $color-white;
    }
  }

  &__items {
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;

    &:hover {
      .dropdown a {
        color: $color-white;
        background-color: $color-primary;
        border-color: $color-white;
      }
    }

    a {
      padding: $grid/2;
      display: block;
    }
  }

  &__link {
    &:focus {
      background-color: $color-primary;
      color: $color-white;
      font-weight: bold;
    }
  }
}