.header {

  &__menu {
    @include font-size(m);
    display: flex;
    align-items: center;
    padding: $grid;
    background-color: $color-primary;
    color: $color-white;
  }

  &__links {
    @include media-query(md){
      a:last-child {
        margin-right: $grid + $grid / 2;
      }
    }
  }

  &__logo {
    display: inline;
    margin-right: auto;
    font-family: $font-secondary;
    font-weight: 600;
    @include font-size(xl);
    text-decoration: none;
    color: $color-white;

    @include link-tab-border($color-white, 0px 4px);

    @include media-query(md){
      margin-left: $grid;
      @include font-size(xxl);
    }

    &:visited {
      color: $color-white;
    }
    
  }

  &__dropdown {
    display: inline;

    @include media-query(md){
      display: none;
    }
  }

  &__link {
    display: none;

    @include media-query(md){
      display: inline;
      color: $color-white;
      margin-right: 2 * $grid;
      font-family: $font-primary;
      @include font-size(m);
      @include link-tab-border($color-white, 4px);

      &:hover {
        color: $color-primary-dark;
      }
      &:visited {
        color: $color-white;
        &:hover {
          color: $color-primary-dark;
        }
      }
    }
  }
}